

/* saection 2 */

.form-mail input::placeholder
{
    color:white;
    text-align: center;
}
.navbar li{position: relative; }
.navbar li::after
{
    width: 0;
    height: calc(100%/3);
    background-color: #59626c92;

    content: "";
position: absolute;
top: 0;
left: 0;
transition: 1s width;
}
.navbar li::before
{
    width: 0;
    height: calc(100%/3);
    background-color: #59626c92;
    content: "";
position: absolute;
bottom: 0;
right: 0;
transition: 1s width;
}
.navbar li:hover::before{  width: 100%;}
.navbar li:hover::after{  width: 100%;}
.navbar li:hover a::before{    width: 100%;}
.navbar li:hover a{color: rgb(255, 255, 255) !important; }
.navbar li a{position: relative;    transition: 0.5s  1.2s color; font-size: 23px;}
.navbar li a::before
{
    width: 0;
    position: absolute;
    content: "";
    height:33.333333%;
    background-color: #46526092;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -5;
    transition: 0.5s  1s width;
}

/* responcive of header*/
@media only screen and (max-width: 572px)
{
    header .text-header{text-align: center!important; padding-top: 20px;}
    header .imag-header{display: none!important;}
}
/* responcive seaction 2 */
@media only screen and (max-width: 572px)
{
    .form-mail .text-email{text-align: center; padding: 20px 0px}
}
